<h1> Sign up as an author </h1>

<form class="author-form" action='/authors' method='POST'>
    <input type='text' name='name' placeholder='Enter Your Name'>
    <input type='submit' value='Add'>
</form>